@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="~/Scripts/Clientes/BeneModal/BeneModal.js"></script>

    <script>
        $(document).ready(function () {
            $('#CPF').mask('000.000.000-00', { reverse: true });
        });
    </script>
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/clientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")